.kh-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kh-widget img {
  width: 55px;
  height: auto;
}

.kh-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.kh-input {
  flex-grow: 1;
  margin: 0 10px;
  min-height: 110px;
  border-radius: 5px;
  background-color: #4e5d6c;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur calculée */
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
}

/*
/* 
/* 
/* * LES BOUTONS */

.kh-button-micro,
.kh-button-send,
.kh-button-stop {
  cursor: pointer;
  background-color: #60686f;
  height: 55px;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  font-size: 12px;
  margin-right: 8px;
}

.kh-button-micro:hover,
.kh-button-send:hover,
.kh-button-stop:hover {
  background-color: aqua;
}

.kh-button-micro:active,
.kh-button-send:active,
.kh-button-stop:active {
  background-color: red;
}

.kh-button-send:disabled,
.kh-button-stop:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

/*
/* 
/* 
/* * LA REPONSE */
.kh-response {
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
  padding: 10px;

  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;

  background-color: #4e5d6c;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
