.kh-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  position: relative;

  /* height: 100vh;  */

  max-width: 800px; /* Assurez-vous que le widget ne dépasse pas une largeur maximale */
  /* height: 100vh;  */

  overflow: hidden;
  color: white;
}

/*
/* 
/* 
/* * LA REPONSE */
.kh-response {
  width: 100%;

  max-width: 800px;
  margin-top: 30px;

  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  padding-bottom: 150px;
}

.kh-response p {
  margin-bottom: 10px; /* Espacement entre les messages */
}

.kh-response .message-block {
  margin-bottom: 20px; /* Espacement plus important entre les blocs USER et STAN */
}

.kh-response .message-content {
  margin-top: 2px; /* Espacement réduit entre le préfixe et le texte */
  margin-left: 20px; /* Indentation du texte pour le distinguer du préfixe */
}

.kh-response .prefix {
  font-weight: bold; /* Met en gras les préfixes */
  display: block; /* Affiche le préfixe sur une ligne propre */
}

/*
/* 
/* 
/* * LA ZONE DES CONTROLES et INPUT */
.kh-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 1000;
}

.kh-controls-container {
  box-sizing: border-box;
  position: fixed; /* Position fixe en bas */
  bottom: 0; /* Aligné au bas de l'écran ou du parent relatif */
  background-color: #2b3e50;
  width: 100%;
  max-width: 800px;
}

/*
/* 
/* 
/* * LA QUESTION */
.kh-input {
  width: 100%;
  max-height: 150px; /* Hauteur maximum avant de montrer la barre de défilement */
  padding: 10px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  background-color: #2b3e50;
  border: none; /* Supprime les bordures pour intégrer avec le fond */
  resize: none; /* Empêche le redimensionnement manuel */
  overflow-y: auto; /* Permet la barre de défilement verticale automatiquement si nécessaire */
}

/*
/* 
/* 
/* * LES BOUTONS */
.kh-button-micro,
.kh-button-send,
.kh-button-stop {
  cursor: pointer;
  background-color: #60686f;

  transition: background-color 0.3s, opacity 0.3s;
  border: 1px solid #ccc;
  margin-right: 0.5em;
  border-radius: 40%;
  /* margin-top: 1em; */
  padding: 0.3em;
  width: 3.2rem;
  height: 3rem;
}

.kh-button-micro img,
.kh-button-send img,
.kh-button-stop img {
  width: 100%;
  height: 100%;
}

.kh-button-micro:hover,
.kh-button-send:hover:not(:disabled),
.kh-button-stop:hover:not(:disabled) {
  background-color: #60686f;
  opacity: 0.5;
}

.kh-button-micro:active,
.kh-button-send:active:not(:disabled),
.kh-button-stop:active:not(:disabled) {
  background-color: #60686f;
}
.kh-button-micro:focus,
.kh-button-send:focus,
.kh-button-stop:focus {
  background-color: red;
}

/* Style pour les boutons désactivés */
.kh-button-micro:disabled,
.kh-button-send:disabled,
.kh-button-stop:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background-color: #60686f; /* Maintient la couleur de fond même pour les boutons désactivés */
}

.listening-indicator {
  width: 10px;
  height: 10px;
  background-color: red; /* Couleur de fond pour l'indicateur */
  border-radius: 50%; /* Pour un aspect circulaire */
  margin-left: 10px; /* Ajustez selon vos besoins */
  visibility: hidden; /* Initialement caché */
}

.listening-indicator.active {
  visibility: visible; /* Affiche l'indicateur lorsque la reconnaissance vocale est active */
}

.loading-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.loading-indicator.active {
  visibility: visible;
}

.loader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 60px;
}

.loader .bar {
  width: 10px;
  height: 20px;
  background-color: #4e5d6c;
  animation: pulse 1s infinite ease-in-out;
}

.loader .bar:nth-child(2) {
  animation-delay: 0.2s;
}

.loader .bar:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    height: 20px;
  }
  50% {
    height: 60px;
  }
}

/* ! */
/* ! */
/* ! DESIGN DU FORM INSCRIPTION CONNEXION */

/* Styles généraux pour les formulaires */
.register-form,
.login-form {
  background-color: #2b3e50; /* Couleur de fond adaptée à votre palette */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

/* Styles pour les inputs */
.register-form input,
.login-form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.register-form input:focus,
.login-form input:focus {
  border-color: #4a90e2; /* Une couleur de mise en évidence */
}

/* Styles pour les boutons */
.register-button,
.login-button {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  background-color: #60686f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-button:focus,
.login-button:focus {
  background-color: #4a90e2;
}
.register-button:hover,
.login-button:hover {
  background-color: #4a90e2;
}
/*
.register-button:active,
.login-button:active {
  background-color: #3672b8; 
} */

/* .show-register-form, */
.show-login-form {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: block;
  transition: color 0.3s;
  border: 1px solid #ccc;
}

/* .show-register-form:hover, */
.show-login-form:hover {
  color: #ffffff;
  border: none;
}

.show-register-form {
  cursor: pointer;
  color: #4a90e2;
  background-color: transparent; /* Fond transparent pour moins de prominence */
  border: none;
  text-decoration: underline;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: block;
  transition: color 0.3s;
}

.show-register-form:hover {
  color: #fff;
  background-color: #2b3e50;
}

/* Ajout de petites animations pour les transitions d'état */
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.5);
}

/* Style pour le bouton de déconnexion */
/* .logout-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #60686f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
  display: none;
  margin-top: 10px; 
} */

.logout-button.show {
  display: block; /* affiché lorsque l'utilisateur est connecté */
}
/* 
.logout-button:hover {
  background-color: #4a90e2; 
} */

.logout-button:active {
  background-color: #3672b8; /* changement de couleur lors du clic */
}

.back-to-login {
  cursor: pointer;
  background-color: transparent;
  color: #4a90e2;
  border: none;
  text-decoration: underline;
  padding: 8px;
  font-size: 14px;
  margin-top: 10px;
}

.back-to-login:hover {
  color: #fff;
  background-color: #2b3e50;
}

/* Barre de statut en haut à droite */
.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alignement à droite */
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; /* Couvre toute la largeur pour un alignement à droite correct */
}

.user-icon,
.logout-button img {
  width: 24px; /* Taille des icônes */
  height: 24px;
  margin-right: 10px; /* Espace entre les icônes et le texte */
}

.username-display {
  margin-right: 10px; /* Espace entre le nom d'utilisateur et le bouton de déconnexion */
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 0.8; /* Effet au survol pour le bouton de déconnexion */
  background-color: #2b3e50;
}
